NODE_ENV = production
#PORT = 3000

JWT_PRIVATE_KEY=ethix
APP_URL = http://localhost:3206
GOOGLE_CLIENT_ID = 730920126149-psh3ovcpfjv3h74oka2dgtkhcetns45u.apps.googleusercontent.com
GOOGLE_SECRET= uE8Sy_wy7MhwKE6GH1c8KJTR