<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html >

<head>
    <style>
        /* CSS RESET */
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline
        }

        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block
        }

        body {
            line-height: 1
        }

        ol,
        ul {
            list-style: none
        }

        blockquote,
        q {
            quotes: none
        }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none
        }

        table {
            border-collapse: collapse;
            border-spacing: 0
        }
    </style>
    <!--[if mso]>
    <style>
      * {
        font-family: sans-serif !important;
      }
    </style>
  <![endif]-->
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700" rel="stylesheet" type="text/css">
    <!--<![endif]-->
    <style>
        html {
            background: #FAFAFA;
        }

        * {
            font-family: 'Lato', sans-serif !important;
        }

        body {
            background: #FAFAFA;
            margin: auto;
        }

        .rib-header {
            padding-top: 20px;
            width: 100%;
        }

        .rib-header img {
            width: 100%;
        }

        .email-content .card {
            padding: 28px;
            margin: 28px 10%;
            /*border-radius: 11px;*/
            /*background-color: white;*/
            /*box-shadow: 0px 2.70833px 6.31944px -2.70833px rgba(24, 39, 75, 0.12), 0px 4.51389px 14.4444px -1.80556px rgba(24, 39, 75, 0.1);*/
            /*color: #414B54;*/
        }

        .email-content .title {
            margin-bottom: 28px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 22px;
            text-align: center;
        }

        .email-content .caption-1 {
            padding: 0 12px;
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            line-height: 23px;
            text-align: center;
            color: #414B54;
        }

        .email-content .caption-2 {
            color: #414B54;
            padding: 0 22px;
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
        }

        .email-content .btn-verify {
            display: inline-block;
            margin: 58px 30px;
            padding: 8px 2rem;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            background-color: #12BFFF;
            color: white;
        }

        .email-content .verification-link {
            display: inline-block;
            margin: 30px 0;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 21px;
        }

        .email-content .tip {
            margin-top: 50px;
            font-family: 'Lato', sans-serif;
            font-size: 10px;
            text-align: center;
            color: #414B54;
        }

        .email-content .support-center {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 10px;
            text-decoration: none;
            text-align: center;
            color: #0098D1;
        }

        .email-content .download-app-title {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            font-size: 11px;
            line-height: 14px;
            text-align: center;
            color: #000000;
            margin-top: 48px;
        }

        .email-content .download-app {
            margin: auto;
            margin-top: 16px;
        }

        .email-content .payment-information {
            /*background: #F9F9F9;*/
            /*border-radius: 8px;*/
            /*padding: 32px 64px;*/
            background: #FFFFFF;
            padding: 28px;
            box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
            border-radius: 12px;
        }

        .footer {
            padding: 18px 30px;
            background-color: #F4FBFD;
        }

        .footer * {
            color: #414B54;
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            font-size: 8px;
        }

        .footer table td {
            padding: 0 2px;
            padding-right: 10px;
        }

        .footer table td.ic-address {
            vertical-align: top;
        }

        .footer table td.address {
            vertical-align: top;
        }

        .footer table td.ic-envelope {
            vertical-align: middle;
        }

        .footer table td.envelope {
            vertical-align: middle;
        }

        .footer table td.ic-line {
            vertical-align: middle;
        }

        .footer table td.line {
            vertical-align: middle;
        }

        .footer table td.ic-phone {
            vertical-align: middle;
        }

        .footer table td.phone {
            vertical-align: middle;
        }

        .ic-payment-method {
            display: none;
            max-width: 72px;
            max-height: 32px;
        }

        .ic-ovo.ewallet-ovo,
        .ic-gopay.Gopay,
        .ic-shopeepay.ewallet-shopeepay,
        .ic-bca.va-bca,
        .ic-bri.va-bri,
        .ic-mandiri.echannel-mandiri,
        .bni.BNI.VA,=20
        .mandiri.Mandiri,=20
        .gopay.Gopay,
        .cimb-syariah.CIMB.Niaga.Syariah,=20
        .mandiri-bill.Mandiri.Bill,=20
        .bsi.Bank.Syariah.Indonesia,
        .permata.Permata.VA{
            display: initial !important;
        }

        .hide-mobile {
            display: initial;
        }

        .hide-desktop {
            display: none;
        }

        @media (max-width: 605px) {
            .email-content .card {
                padding: 24px 10px;
            }

            .payment-information {
                padding: 16px 8px !important;
            }

            .hide-mobile {
                display: none !important;
            }

            .hide-desktop {
                display: initial !important;
            }
        }
    </style>
</head>

<body style="background: #FAFAFA;">
    <center>
        <table style="background: #FAFAFA;">
            <tr>
                <td width="600px">
                    <div class="rib-header">
                        <img
                            src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/985b5779-735e-48a0-bc81-d149abdf90ce/1440x169.png" />
                    </div>
                    <div class="email-content">
                        <div class="card">
                            <h1 class="title">Reset Password</h1>
                            <p class="caption-1" style="padding: 16px 0">
                                Hi {{ name }}
                            </p>
                            <p class="caption-1" style="padding: 16px 0">Berikut adalah link untuk reset password akun anda.</p>

                            <center>
                                <a href="{{ url }}" class="btn-verify">Reset Password</a>
                            </center>
                            <p class="caption-2">Apabila Anda memiliki pertanyaan sehubungan dengan instruksi terkait,
                                Anda dapat menghubungi tim support kami di info@ethix.org.</p>
                            <!--<div class="download-app-title">Download Aplikasi rib</div>-->
                            <!-- <table class="download-app">-->
                            <!--   <tbody>-->
                            <!--     <tr>-->
                            <!--       <td class="right">-->
                            <!--          <a href="">-->
                            <!--<img height="32" src="http://cdn.mcauto-images-production.sendgrid.net/11cb79a8eeef687e/b19c633f-648b-4e2f-8dbf-482cf492a0d3/160x48.png"/>-->
                            <!--</a>-->
                            <!--       </td>-->
                            <!--       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>-->
                            <!--       <td>-->
                            <!--               <a href="https://u20910378.ct.sendgrid.net/ls/click?upn=V2JIyy6c7unn2KSlt891qdLaMHtDcpaOd4ZVE6PIx1AK0uwBt1g6ZTerQNxme2TijKOTOUEElGund0V6pMo2mGdg8JQ-2F-2FPBI9BDf5NGfQgI-3Dsx7i_U-2FwIShXzXbbtBnZw2eDknwYWdp6F4NbjpG-2F5II-2FJSkRunowYKzMuzXWahzDLSPbJqrScYIBzuih6OMlchahik3nDacIJrV8bwrwKsrkQVM0L7iFJ1L1dRQDBv-2BcKIJZZ6tGxROHDOS-2FkfCSsmhoqvj41R5YGH5KC6Bj9QzMWbDCi1ECpqse1CpHlluqX1ZDLrxoWT2JbpdJ0d-2B2qqF1d1OqWUcb-2FmRX-2B6lG5UxKJFoQ5m-2FgOAhVzqnqa7rJiRG-2FdvEBH1S3e2qt9EXqpXwrxqKIBV8bffvKIe-2BGv4ojFFXD1OkzJmiKFDgdKcAyWZOYVD0jVUeqLFF7pC0bdy3OtlldvBg1Cop1LxKZK1sVy2fhuGK-2FYQ9MK7Nj2hnXMEy7C">-->
                            <!-- <img height="32" src="http://cdn.mcauto-images-production.sendgrid.net/11cb79a8eeef687e/e6bf71b5-6e0c-4eea-be7e-762bfa34ec26/160x54.png"/>-->
                            <!-- </a>-->
                            <!--       </td>-->
                            <!--     </tr>-->
                            <!--   </tbody>-->
                            <!-- </table>-->
                            <p class="tip">
                                This is an automatically generated email, please do not reply to it. This email address
                                is not monitored. If you have any questions, visit our <a
                                    href="https://u20910378.ct.sendgrid.net/ls/click?upn=V2JIyy6c7unn2KSlt891qeGHiXCfL8H7igmOug2LOwr4zkoxdxLwh85ge9jYe-2B45GqK8TOqGWZ1xLTiqXzjrQQ-3D-3DJCYS_U-2FwIShXzXbbtBnZw2eDknwYWdp6F4NbjpG-2F5II-2FJSkRunowYKzMuzXWahzDLSPbJqrScYIBzuih6OMlchahik3nDacIJrV8bwrwKsrkQVM0L7iFJ1L1dRQDBv-2BcKIJZZ6tGxROHDOS-2FkfCSsmhoqvj41R5YGH5KC6Bj9QzMWbDCi1ECpqse1CpHlluqX1ZDLrxoWT2JbpdJ0d-2B2qqF1d1Clu0aCyd8oCNtOSXkDVQsSuWMSLqAeMCVvTlGm-2BKNfQFoWRiGTSU8bPOAn7-2FpCUiPd-2FzSjijaYCNDSCB-2BP6eRsdZGZQMvmRLEvG5-2B7wnrI-2BgtBFIv32-2BmW55p392B2zwqTYPkWM1UeUFrKn2NbZ5pX3n-2BXfQ0NC-2BAbof8w3Y8Vu" class="support-center">support
                                    center</a>.
                            </p>
                        </div>
                        <div class="footer desktop">
                            <center>
                                <table width="100%" class="hide-mobile">
                                    <tbody>
                                        <tr>
                                            <td width="16" class="ic-address">
                                                <img width="100%"
                                                    src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/8601dc2f-f4fc-4de6-903b-d84d347cc85e/19x20.png" />
                                            </td>
                                            <td width="33%" style="line-height:12px;" class="address">
                                                <p>Ir.H.Juanda No. 285 Bandung</p>
                                                <p>Jawa Barat, Indonesia</p>
                                            </td>
                                            <td width="16" class="ic-envelope">
                                                <img width="100%"
                                                    src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/da3d96bb-b507-435a-ab25-9c33b98b3feb/21x18.png" />
                                            </td>
                                            <td class="envelope">info@ethix.org</td>
                                            <td width="16" class="ic-line">
                                                <img width="100%"
                                                    src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/a2c6b04e-80b3-4a74-9b3d-dc9db4b12a41/19x18.png" />
                                            </td>
                                            <td class="line">@ethix</td>
                                            <td width="16" class="ic-phone">
                                                <img width="100%"
                                                    src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/ca083a1f-08e1-4643-849e-20de68fa86b6/19x18.png" />
                                            </td>
                                            <td class="phone">+6282126855400</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>
                            <table class="hide-desktop">
                                <tbody>
                                    <tr>
                                        <td width="16" class="ic-address">
                                            <img width="10"
                                                src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/8601dc2f-f4fc-4de6-903b-d84d347cc85e/19x20.png" />
                                        </td>
                                        <td class="address">
                                            <p>Jl. Karawitan No. 14A, Bandung</p>
                                            <p>Jawa Barat, Indonesia</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="16" class="ic-envelope">
                                            <img width="10"
                                                src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/da3d96bb-b507-435a-ab25-9c33b98b3feb/21x18.png" />
                                        </td>
                                        <td class="envelope">info@ethix.org</td>
                                    </tr>
                                    <tr>
                                        <td width="16" class="ic-line">
                                            <img width="10"
                                                src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/a2c6b04e-80b3-4a74-9b3d-dc9db4b12a41/19x18.png" />
                                        </td>
                                        <td class="line">@ethix</td>
                                    </tr>
                                    <tr>
                                        <td width="16" class="ic-phone">
                                            <img width="10"
                                                src="http://cdn.mcauto-images-production.sendgrid.net/42a099ad9e615780/ca083a1f-08e1-4643-849e-20de68fa86b6/19x18.png" />
                                        </td>
                                        <td class="phone">+62 82126855400</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </center>
<img src="https://u20910378.ct.sendgrid.net/wf/open?upn=SgJRJiIJ4txSXDrgFNgSdO-2F9GhUF-2BRQ-2BIn7oekAnZDkcHFNuGntkcTJog9-2BwozjD6-2BZvf2J2bBP-2BV3ITOORJdyMlw3MPmhQ3NNCHxQcDDsjkVz9emaXi2Lk0OgG4l8YzLrImUBLk1uridTtT-2FADuYBHQsS6mDvcW5QPudOhf9HdPR7f6Ia2mK3G4MKuX4ehTPHJPL5ANk6tWqdjiY-2Bm2CXmFEQil3A-2BRTZWNGuWceTALlmkwnySeZPC3Gwez9-2BR3pd9Na0vJwQH1O34uGbkEpkfVeLKnz5DnqVKwpjKHbzCEEvbebFfhIKc9DX9Yu-2B7dJItBjri-2F3Dfq4YfmU1J-2BEm-2FXNb6wK4JmFza7RnpRtMhHYbu1Y2Jw2uZuBjb2lE58" alt="" width="1" height="1" border="0" style="height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;"/></body>

</html>